.listing-header {
    box-shadow: $box-shadow;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
    p {
        margin: 0;
    }
    .icons img {
        height: 20px;
        width: 20px;
        margin: 0 8px 0 0;
    }
}

.listing-content {
    margin-top: 105px;
    p {
        font-size: 1.2em;
        line-height: 1.2;
        text-transform: capitalize;
    }
}

.content-box.room {
    p {
        font-size: 1em;
    }
}

.hero-icons {
    img {
        height: 45px;
    }
}