.listing-header {
    box-shadow: $box-shadow;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
    p {
        margin: 0;
    }
    .icons img {
        height: 20px;
        width: 20px;
        margin: 0 8px 0 0;
    }
}

.listing {
    margin-top: 65px;
    .lead {
        line-height: 1.6em;
        color: $blue;
        .icon {
            margin-top: -2px;
            height: 14px;
        }
    }
    .lead:before,
    .lead:after {
        background: $gray-medium;
        display: block;
        height: 2px;
        width: 100%;
        content: '';
    }
}

.listing-content {
    .room img {
        height: 25px;
        width: 25px;
        margin-top: -3px;
    }
    .min-stay {
        img {
            border-radius: 2px;
            height: 18px;
            width: 18px;
        }
    }
    .map-container {
        margin: (-$box-padding) (-$box-padding) 0;
    }
    .nearby-place {
        line-height: 1;
        margin-bottom: 3em;
        .place-type {
            font-size: 1em;
            font-weight: bold;
            img {
                height: 16px;
                width: 16px;
                margin-right: 5px;
                margin-top: -3px;
            }
        }
        .place-name {
            margin-top: -3px;
        }
        .transit-details {
            img {
                height: 12px;
                width: 12px;
                margin-top: -3px;
            }
        }
    }
}

ul.amenities-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    li {
        list-style-type: none;
    }
    @media (max-width: 540px) {
        img {
            height: 20px;
            width: 20px;
        }
    }
}