$input-color: #fff;
$input-background: rgba(26, 145, 161, 0.6);
.index {
    h4 {
        color: $white;
        line-height: 1.5;
    }
    .index-typeahead {
        input {
            background-color: $input-background;
            border: none;
            padding: 15px 20px;
            font-size: 3em;
            font-family: $fancy;
            color: $input-color;
            text-align: center;
            &:focus {
                outline: none;
            }
        }
        @media (max-width: 991px) {
            input {
                font-size: 2em;
            }
        }
        @media (max-width: 767px) {
            input {
                padding: 7px 10px;
                font-size: 1.3em;
            }
        }
        ::-webkit-input-placeholder {
            text-align: center;
            color: $input-color;
        }
        :-moz-placeholder {
            /* Firefox 18- */
            text-align: center;
            color: $input-color;
        }
        ::-moz-placeholder {
            /* Firefox 19+ */
            text-align: center;
            color: $input-color;
        }
        :-ms-input-placeholder {
            text-align: center;
            color: $input-color;
        }
        .results {
            background-color: $input-background;
        }
    }
    .how-it-works {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.index-bg {
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    background-image: none;
    height: 100vh;
    filter: grayscale(30%);
    position: fixed;
    width: 102%;
    height: 102%;
    top: -5px;
    left: -5px;
    z-index: -1;
}

.index-bg {
    background-image: url(https://source.unsplash.com/XSZF9CYzSK0/992x558);
}

@media (min-width: 992px) {
    .index-bg {
        background-image: url(https://source.unsplash.com/XSZF9CYzSK0/1200x675);
    }
}

@media (min-width: 1200px) {
    .index-bg {
        background-image: url(https://source.unsplash.com/XSZF9CYzSK0/2133x1200);
    }
}

@media (min-width: 1440px) {
    .index-bg {
        background-image: url(https://source.unsplash.com/XSZF9CYzSK0/2560x1440);
    }
}

#PlacesAutocomplete__google-logo {
    display: none;
}