/*
 * Base structure
 */

body {
    background: $off-white;
    font-family: $font-family;
    letter-spacing: 0.01rem;
    font-size: $font-size;
    line-height: 1.75em;
    color: $font-color;
    font-weight: $font-weight;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    @include scrollbars(.5em, slategray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-fancy;
}

hr {
    border-top: $hr-border;
}


/*
 * Text styles
 */

a,
a.active,
a.focus,
a:hover {
    color: $note-blue;
}

pre {
    background: #f2f2f2;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 15px 0;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid $note-green;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: $note-green-light;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-style: italic;
}

button {
    font-family: $font-family-fancy;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid $note-gray-dark;
    background: $off-white;
    border-radius: 3px;
    height: 160px;
}

textarea:focus,
textarea:active {
    outline: none !important;
    border: 1px solid $note-gray-active;
}

.btn:active,
.btn:focus,
.btn:visited {
    outline: none;
}

.text-center {
    text-align: center;
}

.light {
    color: $note-gray-dark;
}

.fancy {
    font-family: $font-family-fancy;
}

.uppercase {
    text-transform: uppercase;
}

@media (max-width: 767px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.75em;
    }
    h3 {
        font-size: 1.35em
    }
    h4 {
        font-size: 1.05em
    }
    h5 {
        font-size: 1em
    }
    h6 {
        font-size: 0.75em;
    }
}