$font-color: #424242;
$white: #fff;
$off-white: #f5f5f5;
$note-gray: #eee;
$note-gray-medium: #ddd;
$note-gray-dark: #ccc;
$note-gray-active: #bbb;
$new-note-footer: #d0d6da;
$note-blue: #2491e8;
$note-blue-light: #389ef0;
$note-header-blue-text: #f2f9ff;
$note-dark-blue: #2c3e50;
$note-dark-blue-active: #34495e;
$note-faded-blue: #e0e8ec;
$note-green: #2ecc71;
$note-green-light: #00CC6A;
$note-green-text: #deffec;
$note-red: #c0392b;
$note-red-light: #e74c3c;
$note-orange: #FF5722;
$note-orange-light: #FF7043;
$note-yellow: #FFEE58;
$note-orange-text: #ffdace;
$note-purple: #BA68C8;
$note-purple-text: #E1BEE7;
$note-pink: #EC407A;
.white {
    color: $white;
}

.bg-white {
    background: $white;
}

.note-header-blue {
    color: $note-blue;
}

.bg-note-header-blue {
    background: $note-blue;
}

.note-gray-active {
    color: $note-gray-active;
}

.bg-note-gray-active {
    background: $note-gray-active;
}

.note-green {
    color: $note-green;
}

.bg-note-green {
    background: $note-green;
}

.note-green-light {
    color: $note-green-light;
}

.bg-note-green-light {
    background: $note-green-light;
}

.note-orange {
    color: $note-orange;
}

.bg-note-orange {
    background: $note-orange;
}

.note-orange-light {
    color: $note-orange-light;
}

.bg-note-orange-light {
    background: $note-orange-light;
}

.note-purple {
    color: $note-purple;
}

.bg-note-purple {
    background: $note-purple;
}