$font-color: #424242;
$white: #fff;
$off-white: #f5f5f5;
$gray: #eee;
$gray-medium: #ddd;
$gray-dark: #ccc;
$gray-active: #bbb;
$new-footer: #d0d6da;
$blue: #2491e8;
$blue-light: #389ef0;
$header-blue-text: #f2f9ff;
$dark-blue: #2c3e50;
$dark-blue-active: #34495e;
$faded-blue: #e0e8ec;
$green: #2ecc71;
$green-light: #00CC6A;
$green-text: #deffec;
$red: #c0392b;
$red-light: #e74c3c;
$orange: #FF5722;
$orange-light: #FF7043;
$yellow: #FFEE58;
$orange-text: #ffdace;
$purple-dark: #881798;
$purple: #8e44ad;
$purple-light: #9b59b6;
$purple-text: #CE93D8;
$pink: #EC407A;
.white {
    color: $white;
}

.bg-white {
    background: $white;
}

.header-blue {
    color: $blue;
}

.bg-header-blue {
    background: $blue;
}

.gray-active {
    color: $gray-active;
}

.bg-gray-active {
    background: $gray-active;
}

.blue {
    color: $blue;
}

.bg-blue {
    background: $blue;
}

.dark-blue {
    color: $dark-blue;
}

.bg-dark-blue {
    background: $dark-blue;
}

.green {
    color: $green;
}

.bg-green {
    background: $green;
}

.red {
    color: $red;
}

.bg-red {
    background: $red;
}

.red-light {
    color: $red-light;
}

.bg-red-light {
    background: $red-light;
}

.green-light {
    color: $green-light;
}

.bg-green-light {
    background: $green-light;
}

.orange {
    color: $orange;
}

.bg-orange {
    background: $orange;
}

.orange-light {
    color: $orange-light;
}

.bg-orange-light {
    background: $orange-light;
}

.red-light {
    color: $red-light;
}

.bg-red-light {
    background: $red-light;
}

.purple-dark {
    color: $purple-dark;
}

.bg-purple-dark {
    background: $purple-dark;
}

.purple {
    color: $purple;
}

.bg-purple {
    background: $purple;
}

.purple-light {
    color: $purple-light;
}

.bg-purple-light {
    background: $purple-light;
}