.content-header {
    background: $blue;
    color: $white;
    border-radius: $radius;
    margin: $box-padding*2 0 $box-padding;
    padding: 3px $box-padding;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        padding: 0;
    }
}

.min-padding {
    margin: $box-padding 0;
}