.content-box {
    background: $white;
    padding: $box-padding;
    margin: 0 0 $box-margin;
    box-shadow: $box-shadow;
    border-radius: 3px;
    &.content-box-sm {
        padding: $box-padding/2 $box-padding;
        margin: 0 0 $box-margin/2;
    }
    .content-box-footer {
        margin: $box-padding/2 -20px -28px;
        padding: $box-padding/2 $box-padding;
        h6 {
            padding: 0;
            margin: 0;
        }
    }
    &.transparent {
        background: transparent;
        border: none;
        box-shadow: none;
    }
}

a .content-box {
    color: $font-color;
    &:hover,
    &:active,
    &:focus {
        background: $header-blue-text;
        text-decoration: none;
    }
}