.form-control {
    border: 1px solid #eee;
}

.input-group-addon {
    color: #fff;
    background-color: #90A4AE;
    border: 1px solid #eee;
}

form {
    label {
        font-weight: bold;
    }
}