//spacing/structure
$navbar-padding: 60px;
$box-padding: 20px;
$box-margin: 20px;
$hr-border: 1px solid #f2f2f2;
$sidebar-width: 420px;
//text
$fancy: 'Permanent Marker',
cursive;
$font-family: 'Zilla Slab',
serif;
$font-weight: 400;
$font-size: 0.9em;
$line-height: 1.75em;
$font-weight-light: 300;
$font-weight-bold: bold;
//components
$box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 6px,
rgba(0, 0, 0, 0.08) 0px 1px 4px;
$box-shadow-bold: 0 0px 11px 2px rgba(0, 0, 0, 0.04),
0 6px 20px 5px rgba(0, 0, 0, 0.02),
0 8px 7px -5px rgba(0, 0, 0, 0.1);
$radius: 5px;
$border: 1px solid $gray;