.listing-snippets {
    .listing-snippet {
        margin-bottom: $box-padding;
        .property-type,
        .property-rate {
            line-height: 0.5em;
        }
        .property-type {
            margin: -5px 0 13px;
        }
    }
    a {
        width: 100%;
    }
    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
    }
    .content-box {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    img.hero {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
    }
}

.listing-snippet:hover,
.listing-snippet:active,
.listing-snippet:focus {
    .content-box {
        background: #ECEFF1;
        color: $font-color;
    }
}