.footer {
    position: fixed;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $blue;
}

.footer-padding {
    padding-bottom: 60px;
}

.nearby-result a:hover {
    text-decoration: none;
}