.footer {
    position: absolute;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $blue;
}

.add-typeahead {
    background: #fff;
    border-radius: $radius;
    input {
        font-family: $font-family;
        padding: 12px 15px;
        border: none;
        padding: 15px 20px;
        box-shadow: $box-shadow-bold;
    }
    @media (max-width: 767px) {
        input {
            width: 210px;
        }
    }
     ::-webkit-input-placeholder {
        color: $gray-dark;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: $gray-dark;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: $gray-dark;
    }
     :-ms-input-placeholder {
        color: $gray-dark;
    }
}