.profile-actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1111;
    img,
    .btn {
        box-shadow: $box-shadow-bold;
    }
}

.listing-snippets {
    .snippet {
        p {
            margin: 5px 0;
        }
        .property-type {
            margin: -15px 0 0;
            padding: 0;
            text-transform: capitalize;
            color: $dark-blue;
        }
        .icons img {
            height: 24px;
            width: 24px;
            margin: 0 8px 0 0;
        }
    }
}

.map-sidebar {
    width: $sidebar-width;
    position: absolute;
    height: 100vh;
    box-shadow: $box-shadow;
    z-index: 999;
    overflow: auto;
}

.map-sidebar-tools {
    .filter .btn {
        margin-left: -18px
    }
}

.map-typeahead {
    border-radius: $radius;
    input {
        font-family: $fancy;
        font-size: 1.2em;
        border: none;
        padding: 6px 15px;
        width: 100%;
        box-shadow: $box-shadow;
    }
     ::-webkit-input-placeholder {
        color: $gray-dark;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: $gray-dark;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: $gray-dark;
    }
     :-ms-input-placeholder {
        color: $gray-dark;
    }
}

.map {
    margin-left: $sidebar-width;
    height: 100vh;
}