$footer-height: 40px;
$step-width: 5px;
.nearby-result a:hover {
    text-decoration: none;
}

.footer {
    position: fixed;
    z-index: 9999;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    background-color: $gray;
}

.footer-padding {
    padding-bottom: $footer-height + $box-padding;
}

.progress-steps {
    div {
        position: relative;
        float: left;
        background: $gray-medium;
        border-left: 1px solid $gray;
        margin-right: $step-width;
        text-align: center;
        max-width: calc(25% - 5px);
        a {
            color: $font-color;
            font-weight: bold;
        }
        .triangle,
        .triangle-left {
            display: block;
            position: absolute;
            top: 0;
            right: -$step-width;
            height: 0;
            width: 0;
            border-top: $footer-height/2 solid transparent;
            border-left: $step-width solid $gray-medium;
            border-bottom: $footer-height/2 solid transparent;
            z-index: 1;
        }
        .triangle-left {
            border-left-color: $gray;
            left: 0;
        }
        &:first-child {
            border: 0;
        }
        &.current-step {
            background: $purple-dark;
            .triangle {
                border-left: $step-width solid $purple-dark;
            }
            a {
                color: $white;
            }
        }
        &.visited-step {
            background: $purple-light;
            .triangle {
                border-left: $step-width solid $purple-light;
            }
            a {
                color: $white;
            }
        }
    }
}