.home {
    h3 {
        color: gray-medium;
    }
    .home-typeahead {
        input {
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            padding: 15px 20px;
            font-family: $font-family-fancy;
            font-size: 3em;
            color: #fff;
            text-align: center;
            &:focus {
                outline: none;
            }
        }
         ::-webkit-input-placeholder {
            text-align: center;
            color: #fff;
        }
         :-moz-placeholder {
            /* Firefox 18- */
            text-align: center;
            color: #fff;
        }
         ::-moz-placeholder {
            /* Firefox 19+ */
            text-align: center;
            color: #fff;
        }
         :-ms-input-placeholder {
            text-align: center;
            color: #fff;
        }
        .results {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.home-bg {
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    background-image: none;
    height: 100vh;
    filter: grayscale(30%);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: fixed;
    width: 102%;
    height: 102%;
    top: -5px;
    left: -5px;
    z-index: -1;
}

.home-bg {
    background-image: url(https://source.unsplash.com/MsMISAIe8Qw/768x430);
}

@media (min-width: 768px) {
    .home-bg {
        background-image: url(https://source.unsplash.com/MsMISAIe8Qw/992x558);
    }
}

@media (min-width: 992px) {
    .home-bg {
        background-image: url(https://source.unsplash.com/MsMISAIe8Qw/1200x675);
    }
}

@media (min-width: 1200px) {
    .home-bg {
        background-image: url(https://source.unsplash.com/MsMISAIe8Qw/2133x1200);
    }
}

@media (min-width: 1440px) {
    .home-bg {
        background-image: url(https://source.unsplash.com/MsMISAIe8Qw/2560x1440);
    }
}